body{
	background-color: rbg(255, 30, 47);
	font-family: 'Source Code Pro', monospace;
	font-size: 15px;
	font-weight: lighter;
	margin: 0; 
}
h1{
	font-size:35px;
	font-family: 'Lobster', cursive;
	letter-spacing: 2px;
	font-weight: lighter;

}
h2{
	font-size: 25px;
	font-family: 'Source Code Pro', monospace;
	letter-spacing: 0px;
	font-weight: bolder;

}
a {
	Color: #F9CD7C;
font-size: 20px;
font-weight: bolder;
margin-left: 25px;
}
#banner{
	text-align: left;
	background-image: url("https://images.unsplash.com/photo-1521510024457-e4a37f8abd33?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1951&q=80");
	background-size: cover;
	margin: 0px;
	height: 40vh;
}
#title{
	text-align:left;
	padding-top: 50px;
	margin-left: 25px;
	color: white;
}
#tagline{
	text-align: left;
	margin-left: 25px;

}
.fab{
	font-size: 40px;
}

#part1{
	border-style: dashed; 
	border-color: purple;
}
